.productsDiv {
  display: flexBox;
  /* margin: auto; */
  /* justify-content: center; */
  /* border: 1px solid red; */
  padding-top: 3rem;
  background-color: #ece5c7;
}

h5 {
  font-weight: 700;
}

a {
  font-weight: 700;
}

.navbar-top,
.navbar {
  background-color: #ec994b;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
