.navbar {
  background-color: #a19d98;
  height: 68px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navItems {
  margin: auto;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}
.navItems > h1 {
  font-size: 28px;
  font-weight: 600;
  color: black;
}